* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.card {
    width: 250px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: relative;
}

.icon {
    cursor: pointer;
}

.place {
    font-size: 14px;
}

label {
    color: blue;
    font-size: 13px;
    border-bottom: 1.5px solid darkblue;
    margin: 3px 0;
}

.description {
    font-size: 13px;
}

.star {
    color: goldenrod;
}

.info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: grey;
}

form {
    width: 250px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

input, textarea {
    border: none;
    border-bottom: 1px solid gray;
    outline: none;
}

input::placeholder, textarea::placeholder {
    font-size: 12px;
    color: lightgray;
}

select {
    outline: none;
    border: 1px solid gray;
    border-radius: 4px;
}

.submitButton {
    border: none;
    padding: 5px;
    border-radius: 15px;
    color: white;
    background-color: rgb(253, 123, 100);
}

.submitButton:hover {
    background-color: tomato;
    cursor: pointer;
}

.mapboxgl-popup-close-button {
    font-size: 24px; 
    width: 24px; 
    height: 24px; 
}

.footer {
    position: absolute;
    display: flex;
    flex-direction: row;
    padding: 10px;
    height: auto;
    width: 100vw;
    z-index: 100;
    background-color: rgb(16, 29, 49);
    bottom: 0;
    justify-content: center;
}

.footer:hover {
    cursor: pointer;
    background-color: rgb(61, 58, 58);
    box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.1) -6px -2px 16px 0;
}

.button {
    border: none;
    padding: 5px;
    border-radius: 5px;
    color: white;

    cursor: pointer;
    margin-right: 15px;
}

.logout {
    background-color: tomato;
}

.login {
    background-color: rgb(11, 109, 109);
}

.register {
    background-color: blue;
}

.register:hover {
    background-color: darkblue;
}

.login:hover {
    background-color: rgb(0, 76, 76);
}

.logout:hover {
    background-color: rgb(255, 68, 35);
}

.btn_group {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin-top: 1rem;
}

.edit, .delete {
    padding: 2px 10px;
}

.edit {
    background-color: blue;
}

.edit:hover {
    background-color: darkblue;
}

.delete:hover {
    background-color: rgb(255, 68, 35);
}
